/node_modules/
/logs/
/sage-packages/
**/node_modules/
**/build/

/shared/admin-specifiques-sra/package.json
/shared/admin-specifiques-sra/lib/node-extensions/purchase-receipt-extension.ts

/xtrem-config.yml
/shared.zip
/package.json.before-*

*.log
*.zip
.env
.env.*
